.ids{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
}

#cardImg {
    height: 300px;
    overflow-y: hidden;
}
#cardImg img{
    object-fit: cover;
}

